:root{
  --color1:rgb(152, 118, 221);
  --color2:rgba(96, 64, 135, 0.079);
  --color3:rgba(87, 16, 145, 0.623);
  --fondo: white;
  --titulos:33px;
  --margenes:60px;
  --espacios:10px;
  --espacios-contenido:45px;
}
html{
  scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
Body{
    font-family: 'Open Sans', sans-serif;
    background: var(--fondo);
    box-sizing: border-box;

}
img{
  vertical-align: top;
  font-weight: 500;

}
/*preloader*/
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }

/**/
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
  /*fin preloader*/
  /*header*/
  header{
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,
    rgb(127, 14, 144),
    rgba(65, 13, 170, 0.6),
    rgba(74, 7, 112, 0.45)
    ),url(fondo.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .header fondo_general.jpeg{
    width: 100%;
    height: 100%;
  }
  nav{
    width: 100%;
    position: fixed;
    background-color: rgb(77, 9, 123);
  }
  .nav1{
    height: 80px;
    color: #f2f2f2;
    box-shadow: 0 0 10px 0 #000;
    background-color: rgb(238, 93, 223), black;

  }
  .nav2{
    background: black;
    height: 150px;
    color: black;
  }

  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;


  }

/*generamos los enlaces para la pagina*/
  nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px ;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 9px rgb(234, 233, 239);
    color: inherit;
  }
  nav.enlaces a:hover{
    border-bottom: 6px  black;
    transition: 0,6s;
  }
/*creamos el logo flotante*/

  .alineador img{
    position: fixed;
    display: block;
    align-items: center;
    height: 110px;
    width: 200px;
    font-weight: 3000;
    margin: 0 0px 0px 0;

  }
/*animamos el menu principal*/


/**/
.icono{
  display: none;
  font-size: 24px;
  padding: 23.5px 20px;
  background-color: black;
  align-items: end;
}
.textos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}

/*
#texto{
  width: 50%;
  height: 500px; ;
  background-color: #000000;
}*/


.textos h1{
font-size: 80px;
}
.textos h2{
  font-size: 30px;
  font-weight: 300;
  }
.contenedor{
  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}
.contenedor h3{
  font-size: var(--titulos);
  color: gray;
  margin-bottom: var(--espacios)
}
.contenedor p{
  font-size:  var(--subtitulos);
  font-weight: 300;
  color: rgb(24, 18, 7);
}
.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}
.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content-card{
  width: 31%;
  box-shadow: 0 0 6px 0 black;
  overflow: hidden;
  height: 400px;
}
.people{
  height: 80%;
}
.content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios);
}
.about{
  background: white;
  background-size: cover;
  object-fit: cover;
  box-shadow: 0px 0px 0px 2px rgb(253, 251, 251);
  background: linear-gradient(white, white, rgb(248, 247, 247)
  , rgb(251, 249, 249));

}
.servicios{
  display: flex;
  color: #691286;
  justify-content: space-between;
  background: white;
  padding: 10px;
  background: linear-gradient(white,white,rgb(248, 247, 247), rgb(248, 247, 247));

}

/*arrewglamos las cajas de los servicios*/
.caja_servicios{
height: 300px;
background: 0;
box-shadow: 0px 0px 0px 1px;
width: 31%;
border-radius: 40px;
background-color: white;
}
.caja_servicios img{
  padding-top: 50px;
  align-items: center;
  width: 20%;
  color: #000;
}
.caja_servicios button{
  background-color: white;
  height: 40px;
  width: 150px;
  border-color: transparent;
  box-shadow: 0px 0px 2px 0px rgb(139, 24, 120);
  border-radius: 3px;
  scroll-margin-top: 5s;
}
.caja_servicios p{
  padding-bottom: 20px;
}
.difuminado{
  width: 100%;
  height: 80px;
  box-shadow: 60px 60px 60px 0px rgb(215, 212, 215);
  border-bottom: 100px;
  border-radius: 0px 0px 90px 0;
  position: fixed;
  padding-bottom: 900px;
}
.af{
color: black;
}
/*arreglamos el footer con opciones de contacto*/
.contacto{
  background-color: rgb(45, 3, 76);
  height: 500px;
}

/*creamos el diseno de la seccion informatiomn*/

.information{
  width: 100%;
  height: 700px;
}
.regulador_spacio{
 display:  flex;
 background-color: white;
 width: 95%;
 height: 700px;
 margin-right: auto;
 border-radius: 0 250px 250px 0px;
  box-shadow: 0px 0px 0px 5px rgb(74, 7, 129);
}
.box{
  background-color: transparent;
  display: flex;
  height: 400px;
  width: 42%;
  margin: auto;
  justify-content: space-between;
}

.box img{
  padding-top: 50px;
  width: 90%;
  height: 90%;
}
/*creamosla seccion de logros de la empresa*/
.images{
  width: 100%;
  height: 200px;
}
.logros img{
  margin: auto;
  display: flex;
  padding-top: 40px;
  width: 70%;
  height: 150px;
}
/*creamos la seccion de logos y
 descripciones de algunos servicios*/
.container_logos{
width: 100%;
height: 700px;
justify-content: space-between;
position: flex;
background-color: rgb(212, 204, 248);
}
.container_logos_space{
display: flex;
width: 90%;
height: 600px;
margin: auto;
justify-content: space-between;
padding-top: 100px;

}
.cointainer_division{
  justify-content: space-between;
  background-color: white;
  width: 20%;
}

